<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body style="background-color: antiquewhite;">
    <div class="container m-4">
        <div class="row">
            <div class="col">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h1><b>Search your todo list!</b></h1>
                        <input id="userInput" onkeyup="updateResults()" type="text" placeholder="Type here...">
                    </div>
                </div>
                <button type="button" class="btn btn-primary m-2" onclick="addButton()">
                    Add 
                </button>
                <div class="card bg-dark" id="addCard">
                    <div class="card-body">
                        <input id="newTitle" type="text" placeholder="Enter title...">
                        <input id="newDescription" type="text" placeholder="Enter note...">
                        <input type="submit" class="btn btn-secondary" onclick="addNote()"></button>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col">
                <h3 style="text-align: center;">
                    List:<br/>
                </h3>
                <div id="results">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type=text/javascript src="{{
    url_for('static', filename='js/todo_card.js') }}"></script>
<script type=text/javascript src="{{
    url_for('static', filename='js/app.js') }}"></script>